<h2>Schön, dass du mich gefunden hast.</h2>
<p>Ich bin Avantgardist oder Nostalgiker. Je nach Laune. Ich mache mir Gedanken über die Zukunft, während ich öfters mal nach Hinten schaue. Manchmal ist dabei ein Laternenpfahl im Weg.</p>

<h2>Aktuell</h2>
<ul>
  <li>... verantworte ich die Unternehmenskommunikation bei <a href="https://i22.de">i22</a></li>
  <li>... wohne ich in Köln und habe mein Interesse für Urban Planning entdeckt (versteht jeder Kölner)</li>
</ul>

<h2>Persönlicher Newsletter</h2>

<form class="form-inline" action="https://world.hey.com/criado/subscribers" accept-charset="UTF-8" data-remote="true" method="post" target="_blank">
  <input type="email" name="subscriber[email_address]" id="subscriber_email_address" placeholder="Deine E-Mail …" required="">
  <button type="submit" value="Subscribe" data-wait="Please wait...">Abonnieren</button>
</form>

<hr />

<p><small>PS: Der streng dreinblickende Typ ist aus einer <a href="https://en.wikipedia.org/wiki/The_Mechanical_Bride#/media/File:Ad_for_Bond_Clothes_--_unknown.jpg">Anzeige</a> in Marshall McLuhans Buch »<a href="https://en.wikipedia.org/wiki/The_Mechanical_Bride">The Mechanical Bride</a>«.</small></p>
<p><small>Impressum gemäß §5 TMG: Dominik Criado, Mannsfelder Str. 84 in 50968 Köln.</small></p>
